apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "common.fullname" . }}
  labels:
    {{- include "common.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "common.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "common.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "common.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- with .Values.securityContext }}
          securityContext:
          {{- toYaml . | nindent 12 }}
        {{- end }}
          {{- if .Values.metrics.enabled }}
          {{- with .Values.metrics.port }}
          ports:
            - name: metrics
              containerPort: {{ . }}
          {{- end}}
          {{- end}}
          resources:
            {{- with .Values.resources.requests }}
            requests:
              {{- with .cpu}}
              cpu: {{ . | quote }}
              {{- end }}
              {{- with .memory}}
              memory: {{ . | quote }}
              {{- end }}
            {{- end }}
            {{- with .Values.resources.limits }}
            limits:
              {{- with .cpu}}
              cpu: {{ . | quote }}
                {{- end }}
                {{- with .memory}}
              memory: {{ . | quote }}
                {{- end }}
            {{- end }}
          envFrom:
            - configMapRef:
                name: {{ include "common.fullname" . }}
          env:
            - name: WEB_HOOK
              valueFrom:
                secretKeyRef:
                  key: webHook
                  name: {{ include "common.fullname" . }}
          volumeMounts:
            - mountPath: /app/data
              name: {{ include "common.fullname" . }}
      volumes:
        - name: {{ include "common.fullname" . }}
          persistentVolumeClaim:
            claimName: {{ include "common.fullname" . }}