apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "common.fullname" . }}
  labels:
    {{- include "common.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "common.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "common.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "common.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
       {{- with .Values.securityContext }}
          securityContext:
         {{- toYaml . | nindent 12 }}
       {{- end }}
          ports:
            - name: port
              containerPort: {{ .Values.application.server.port }}
              protocol: TCP
          startupProbe:
            httpGet:
              path: {{ .Values.application.healthCheck.path }}
              port: port
            initialDelaySeconds: {{ .Values.application.healthCheck.startup.initialDelaySeconds }}
            periodSeconds: {{ .Values.application.healthCheck.startup.periodSeconds }}
            timeoutSeconds: {{ .Values.application.healthCheck.startup.timeoutSeconds }}
            successThreshold: {{ .Values.application.healthCheck.startup.successThreshold }}
            failureThreshold: {{ .Values.application.healthCheck.startup.failureThreshold }}
          livenessProbe:
            httpGet:
              path: {{ .Values.application.healthCheck.path }}
              port: port
            initialDelaySeconds: {{ .Values.application.healthCheck.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.application.healthCheck.liveness.periodSeconds }}
            timeoutSeconds: {{ .Values.application.healthCheck.liveness.timeoutSeconds }}
            successThreshold: {{ .Values.application.healthCheck.liveness.successThreshold }}
            failureThreshold: {{ .Values.application.healthCheck.liveness.failureThreshold }}
          readinessProbe:
            httpGet:
              path: {{ .Values.application.healthCheck.path }}
              port: port
            initialDelaySeconds: {{ .Values.application.healthCheck.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.application.healthCheck.readiness.periodSeconds }}
            timeoutSeconds: {{ .Values.application.healthCheck.readiness.timeoutSeconds }}
            successThreshold: {{ .Values.application.healthCheck.readiness.successThreshold }}
            failureThreshold: {{ .Values.application.healthCheck.readiness.failureThreshold }}
          resources:
            {{- with .Values.resources.requests }}
            requests:
              {{- with .cpu}}
              cpu: {{ . | quote }}
              {{- end }}
              {{- with .memory}}
              memory: {{ . | quote }}
              {{- end }}
            {{- end }}
            {{- with .Values.resources.limits }}
            limits:
              {{- with .cpu}}
              cpu: {{ . | quote }}
                {{- end }}
                {{- with .memory}}
              memory: {{ . | quote }}
                {{- end }}
            {{- end }}
          envFrom:
            - configMapRef:
                name: {{ include "common.fullname" . }}
          env:
            - name: S3.ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  key: access_key
                  name: {{ include "s3-bucket-perma-link.s3-secretName" . }}
            - name: S3.SECRET_KEY
              valueFrom:
                secretKeyRef:
                  key: secret_key
                  name: {{ include "s3-bucket-perma-link.s3-secretName" . }}
