apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.fullname" . }}
  labels:
    {{- include "common.labels" . | nindent 4 }}
data:
  PORT: {{ .Values.application.port | quote }}
  NODE_ENV: "production"
